### Read, split and save train, validation and test dataframes

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

Load labels.

In [3]:
NAIVE_LABELS_PATH = 'data/commonswiki-20220220-files-naive-labels.json.bz2'
naive_labels = pd.read_json(NAIVE_LABELS_PATH)
naive_labels['better_url'] = naive_labels['url'].apply(lambda encoded_filename : urllib.parse.unquote(encoded_filename).encode().decode('unicode-escape'))
naive_labels.reset_index(drop=True, inplace=True)
print(naive_labels.shape)
naive_labels.head()

(2008312, 5)

,id,title,url,categories,new_labels
0,80902489,"""A Gathering of Court Women"", Folio from the D...",c/c1/%22A_Gathering_of_Court_Women%22%2C_Folio...,"[Department of Islamic Art, Metropolitan Museu...",[Culture]
1,74785910,"""Carnevale di Torino"". Felice Cerruti - f.lli ...",1/13/%22Carnevale_di_Torino%22._Felice_Cerruti...,"[Felice Cerruti Bauduc, Victor Emmanuel II of ...","[Places, Society]"
2,14890941,"""Escena de playa con figura"".jpg",c/c2/%22Escena_de_playa_con_figura%22.jpg,"[Pedro Lira, People with dogs in art]","[Culture, Entertainment]"
3,17073242,"""Mary Holiday"" - NARA - 559051.jpg",0/02/%22Mary_Holiday%22_-_NARA_-_559051.jpg,"[Art of the United States, Harmon Foundation, ...","[Culture, History, Society]"
4,35274773,"""Reflections"" Porcelain Substrate Tile.jpg",f/f7/%22Reflections%22_Porcelain_Substrate_Til...,[Porcelain],[Places]

In [17]:
i=0
for url in naive_labels.url:
    try:
        with open('/scratch/WIT_Dataset/images/' + url) as f:
            pass
    except:
        i += 1
print(i)

732897

In [18]:
import urllib.parse

naive_labels['new_url'] = naive_labels['url'].apply(lambda encoded_filename : urllib.parse.unquote(encoded_filename).encode().decode('unicode-escape'))

In [19]:
i=0
for url in naive_labels.new_url:
    try:
        with open('/scratch/WIT_Dataset/images/' + url) as f:
            pass
    except:
        i += 1
print(i)

190337

Split dataset.

In [ ]:
train_df, test_df = train_test_split(naive_labels, test_size=0.1, random_state=17)
train_df, val_df = train_test_split(train_df, train_size=0.9, random_state=17)